/* Fontes */
/* TODO criar um flash card para a propriedade 'font-face */
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}

/* Estilo geral do site */
body {
    margin: 0px;
    display: grid;
    grid-template-columns: 500px 1fr;
    justify-items: center;
}

h1,
h2 {
    margin: 0px;
}

/* Conteudo esquerdo geral */

#conteudo-esquerdo {
    width: 100%;
    background: #101010;
    color: #fff;
    padding-top: 50px;
}

#perfil {
    text-align: center;
}

/* Estilisando texto */
.titulo-0 {
    font-family: 'Roboto';
    font-style: normal;
    /* TODO criar um card no anki para a propriedade font-weight */
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.titulo-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/* bloco perfil */

img {
    max-width: 100%;
}

#foto-perfil {
    border-radius: 50%;
}

#nome-compelto {
    margin: 8px 0px;
}

#bloco {
    position: relative;
}

#divisor {
    width: 30px;
    height: 2px;
    background: orange;
    position: absolute;
    margin: 20px 0px;
}

/* bloco contato */

address {
    font-style: normal;
    margin: 0px;
}

#contato {
    margin-top: 40px;
}